.grid-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.6fr 1.2fr 1.2fr; 
  grid-template-rows: 0.5fr 1.5fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main"; 
}
nav { grid-area: nav;
 margin-left: 10px;
}
header { grid-area: header; }
main { grid-area: main; }
  







body{
    background-color: aqua;
}

