@import 'layout';
@import 'typography';

  #navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #F6F8FA;
  }
  
  #alltasks{
    margin-left: 30%;
    margin-top: 50px;
    height: 100%;
    width: 50%;
    background-color: #FFFFFF;
    position: absolute;
  }
  

  #selected{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #034EFC;
  }
  
  h4 {
    color: black;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 30% 0 75px 15%;
  }
  
  h4:hover{
    color: #034EFC;
  }
  
  form{
    margin-left: 50px;
    top: 100px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    line-height: 50px;
  }
  
  label{
    display: block;
    line-height: 10px;
  }
  
  
  ul{
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    position: relative;
  }
  
  #tasklist{
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type='checkbox']{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
  }
  
  
  .done:checked{
    box-shadow: orange;
  }
  
  .tasks{
    margin-bottom: 15px;
    padding: 5px 10px 10px 50px;
    border-radius: 25px;
    background-color: #034EFC;
    color: #F6F8FA;
    width: 50%;
    position: relative;
  }
  
  
  .task_title{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: underline;
  }
  
  .task_due{
    font-weight: lighter;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .task_time{
    font-weight: lighter;
    font-size: 1.5rem;
  }
  
  .task_priority{
    font-weight: bold;
  }
  
  li{
    line-height: 30px;
  }
  
  .del-button{
    padding: 10px 20px;
    margin-top: 0px;
    font-weight: bold;
    margin-left: 110%;
    color: #034EFC;
    background-color: #FFFFFF;
    border: none;
  }
  .del-button:hover{
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  
  